html {
    background: url(pictures/VGBackground.jpg);


}

header#titlePage {
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}

a:visited {
    color: blue;
}




/*Where to play*/
img.whereToPlay {
    width: 150px;
    height: 150px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 20%;

}

div.whereToPlay {
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    margin: 10px;
    padding: 10px;
}

header.whereToPlay {
    font-size: 20px;

}





/*About video games*/
div.about {
    
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    margin: 10px;
    padding-left: 10px;

}

div.about p {
    text-align: justify;
}

img.about {
    float: right;
    height: 100px;
    width: 100px;
}

#floatLeft {
    float: left;
}




aside.notableSites {
    height: 100px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    margin: 10px;
    padding-left: 10px;
    
}

h2.notableSites {
    text-align: center;
}

ul.notableSites {
    text-align: center;
    list-style-type: none;

}

ul.notableSites li {
    display: inline;
    padding: 10px 10px;
}

span.firstSent {
    font-style: italic;
    font-weight: bold;
}








/*Popular Games*/

#submitFavorite {
    background-color: white;

}

#submitForm {
    float: right;
    width: ;

}

section.popGames {
    width: 70%;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    margin: 10px;
    padding-left: 10px;

}




/*Navigation Menu*/
nav.navMenu {
    border: 1px solid darkblue;
    background-color: #2D5DFF;
    margin: 5px;
    border-radius: 20px;
}

/*should i not use a unordered list?????????????????????????????????????????*/
ul.navMenu {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
}

li.navMenu {
    display: inline;
    float: left;
}

li.navMenu a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0px;
    padding: 17px;
}

li.navMenu a#selected {
    background-color: darkblue;
}

li.navMenu a:hover {
    background-color: darkblue;
}