#headerInfo {
    text-align: center;
}



span.bold {
    font-weight: bold;
}

#tab {
    margin-left: 180px;
}

header {
    font-weight: bold;
    font-size: 12pt;
}

section.info {
    margin: 50px 0px 0px 100px
}

h1{
    font-size: 18pt;
}

address {
    font-size: 12pt;
}

p {
    font-size: 12pt;

}

li {
    font-size: 12pt;

}