#headerInfo {
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: block;
    border: 1px solid black;
    padding-bottom: 20px;
}

main {
    margin-left: 20px;
}


span.bold {
    font-weight: bold;
}

#tab {
    margin-left: 180px;
}

#contact {
    margin-right: 75px;
}

h2 {
    font-weight: bold;
    font-size: 16pt;
    text-decoration: underline;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
}

section.info {
    margin: 50px 0px 0px 100px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 18pt;
    
}

address {
    font-size: 12pt;
    font-style: normal;
}

p {
    font-size: 12pt;
}

ul {
    list-style-type: square;
}

li {
    font-size: 12pt;
}