#headerInfo {
    text-align: center;
    padding: 10px;
}

body {
    display: block;
    border: 1px solid black;
    padding-bottom: 20px;
}

main {
    margin-left: 20px;
}


span.bold {
    font-weight: bold;
}

#tab {
    margin-left: 180px;
}

#contact {
    margin-right: 75px;
}

header {
    font-weight: bold;
    font-size: 12pt;
    text-decoration: underline;
}

section.info {
    margin: 50px 0px 0px 100px
}

h1{
    font-size: 18pt;
}

address {
    font-size: 12pt;
}

p {
    font-size: 12pt;

}

ul {
    list-style-type: square;
}

li {
    font-size: 12pt;

}